body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

#guess-input {
    display: block;
    margin: 0 auto 20px;
    border-radius: 16px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
}

#guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 8px;
}

button:active {
    transform: scale(0.95);
}

.letter {
    border: 1px solid transparent;
    padding: 4px;
    margin: 4px;
    min-width: 36px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    font-size: 28px;
}

.row {
    margin-bottom: 3px;
    text-align: center;
}

.input-area {
    margin: 30px;
}

#grid{
    background-color: lightblue;
    padding: 16px;
    width: max-content;
    border-radius: 8px;
    margin-top: 16px;
    margin-left: auto;
        margin-right: auto;
}

#grid:empty{
    background-color: transparent;
}